
.item{
    margin: 10px;
    box-shadow: 0px 0px 6px black;
    cursor: pointer;
    box-sizing: border-box;
}

.item:hover{
    transition: 0.4s;
    box-shadow: 0px 0px 17px black;    
}


.grade {
    width: 31%;
    height: 310px;
    padding: 2px;
}

.grade img {
    width: 100%;
    /* height: auto; */
    height: 211px;
}

.grade p.titulo {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: black;   
    width: 100%;
    margin: 0px;
    text-align: justify;
}

.grade p.preco{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: rgb(100, 96, 96);
    width: 100%;
    margin: 0px;
    text-align: justify;
}

.grade p.descricao{
    display: none;
}

.grade .txt {
    box-sizing: border-box;
    padding: 10px;
}


.lista {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.lista img {
    width: 40%;
    height: 98%;
}

.lista p.titulo {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: black;    
    width: 100%;
    margin: 0px;
}

.lista p.preco {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: rgb(100, 96, 96);
    margin: 0px;
}


.lista p.descricao {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: rgb(100, 96, 96);   
    /* width: 30%; */
    margin: 0px;
    padding: 10px;
    text-align: justify;
}

.txt {
    box-sizing: border-box;
    padding: 10px;
}


.a {
    clear: both;
    width: 100%;
}