.flex{
    display: flex;
    flex-wrap: wrap;
}

.menu {
    background-color: rgb(0, 255, 242);
    width: 25%;
    margin: 5px; 
    padding: 2px;
    position: fixed;
}

.menu input {
    border-radius: inherit;
    width: 90%;
    height: 30px;
}

.menu h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20;
    color: inherit;
}

.menu p {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: inherit;
    color: inherit;
    margin: 20px 3px 2px 3px;
}

.preco {
    justify-content: space-around;
}

.preco input {
    width: 47%;
    margin: 2px;
}

.list {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: inherit;
    color: inherit;  
    margin: 0px 3px;
}


.mostrar {
    display: flex;
    justify-content: flex-start;
}

.btn_mostrar{
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

#btn_grid_blue {
    background-image: url("../img/icon-grid-blue.svg");
}
#btn_grid_black {
    background-image: url("../img/icon-grid-black.svg");    
}

#btn_list_blue {
    background-image: url("../img/icon-list-blue.svg");   
}
#btn_list_black {
    background-image: url("../img/icon-list-black.svg");
}