.vitrine {
    width: 75%;
    margin: 5px;
    margin-left: 26%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: start; */
}

.nada {
    font-family:  'Abel', sans-serif;
    font-size: 40px;
    color: inherit;
     margin: 0px;
     text-align: center;
     padding: 45px;
}

.vitrine p a {
    text-decoration:none; 
    font-family: 'Abel', sans-serif;
    color: deeppink;
    background-color: inherit;
    text-align: center;
    cursor: pointer; 
}